
/*------------ Main Structure ------------*/

html {
    background: url("../images/background.png") repeat;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    background-color: #ffffff;
    border-color: #dddddd;
    line-height: 1.5;
    background-color: transparent !important;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}

.container.about, .container.portfolio, .container.contact {
    padding: 160px 0px;
    background-color: transparent;
}

.containerContent {
    padding: 25px;
    background-color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
	color: #cccccc;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
    text-align: center;
}

/* Define h1 style */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

/* Define h2 style */
h2 {
    font-size: 34px;
    font-weight: bold;
    color: #4aaaa5;
    border-color: #cccccc;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define hr style */
hr {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
}

/*---------- Main Structure End ----------*/


/*------------ Navigation ------------*/

nav {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}

nav.navbar {
    padding: 0;
    margin: 0;
    background-color: #ffffff !important;
}

.navbar-brand.mb-3 {
    margin: 0 !important;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff !important;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 28px 16px;
}

#navbarNavAltMarkup {
    background-color: #ffffff;
}

.navbar-brand {
    padding: 0;
    margin-bottom: 0px;
}

.navbar-nav.navbar-right {
    font-size: 18px;
    text-align: left !important;
    background-color: #ffffff;
}

.navbar-nav.navbar-right a:link {
    color: #999999;
    padding: 32px 16px;
}

.navbar-nav.navbar-right a:visited {
    color: #999999;
    padding: 32px 16px;
}

.navbar-nav.navbar-right a:hover {
    color: #222222;
    padding: 32px 16px;
}

.navbar-nav.navbar-right a.active {
    color: #222222;
    padding: 32px 16px;
}

/*---------- Navigation End ----------*/


/*------------ About Page ------------*/

.container.about p {
    text-align: justify;
}

.container.about img.profile {
    float: left;
    padding: 10px 20px 20px 0px;
    width: 225px;
    height: 225px;
}

/*---------- About Page End ----------*/


/*------------ Portfolio Page ------------*/

.container.portfolio a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    border: 1px solid #dddddd;
    margin: 15px;
    padding: 0;
    transition: all .2s ease-in-out; /* Scale on Hover with Transition */
}

.container.portfolio p {
    position: absolute;
    width: 100%;
    left: 0;
	bottom: 30px;
	background-color: #4aaaa5;
	padding: 10px 0px 10px 0px;
	color: #ffffff;
}

.container.portfolio .row {
    text-align: center;
}

 /* Scale on Hover with Transition */
.portfolio a:hover {
    transform: scale(1.1);
}

/*---------- Portfolio Page End ----------*/


/*------------ Contact Page ------------*/

input[type=text], textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    color: #cccccc;
    border-radius: 4px; /* rounded corners */
}

textarea {
    height: 200px;
}

#submit {
	background-color: #809998;
	color: #ffffff;
	border: none;
    padding: 15px 24px;
    border-radius: 4px; /* rounded corners */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow effect */
}

#submit:hover
{
  background-color: #ABCCCB;
}

/*---------- Contact Page End ----------*/


/*------------ Media Queries ------------*/

@media (max-width: 991px) and (min-width: 1px) { /* Want to apply this to below media query as well - in order not to repeat the same code.. */

    .navbar-nav.navbar-right a:hover {
        background-color: #ABCCCB;
    }

    .navbar-nav.navbar-right a.active {
        background-color: #809998;
    }

}

@media (max-width: 720px) {

    html {
        background: #ffffff;
    }

    .containerContent {
        padding: 0px;
    }

    .container.about, .container.portfolio, .container.contact{
        padding: 120px 0px;
        background-color: #ffffff;
    }

}

/*---------- Media Queries End ----------*/
